.App {
  text-align: center;
}
body {
  background-image: url("img/pizza_bg.jpg");
  background-repeat: no-repeat;
  background-position: top;  
}
form {
  color: antiquewhite;
}
.App-link {
  color: #61dafb;
}
h1.header {
  border: 2px solid red;
  border-radius: 12px;
  color: black;
  border-color: black;
  background-color: red;
}
h3.card-title {
  border: 2px solid yellow;
  border-radius: 5px;
  color: black;
  border-color: black;
  background-color: yellow;
}
h5.cheese_pizza{
  background-image: url(img/ChPizza.jpg);
}