@{
    ViewData["Title"] = "Cart";
}

<div class="text-center">
    <h1 style="color:white;" class="display-4">Your Cart</h1>
    <br>
    <br>
     <h3 style="color:white;" >12" Hawaiian Pizza</h3>
    <img src="~/img/HWPizza.jpg" class="rounded" height="100">
    <br>
    <br>
    <h5 style="color:white;" >Quantity: 1</h5>
    <br>
    <br>
    <h3 style="color:white;" >12" Pepperoni Pizza</h3>
    <img src="~/img/PepPizza.jpg" class="rounded" height="100">
    <br>
    <br>
    <h5 style="color:white;" >Quantity: 2</h5>
    <br>
    <br>
    <a asp-area="" asp-controller="Home" asp-action="Cheapest" class="btn btn-warning">Confirm Cart</a>
    <br>
    <br>
    <a asp-area="" asp-controller="Home" asp-action="Selection" class="btn btn-warning">Get More Pizza</a>
</div>