@{
    ViewData["Title"] = "Cheapest Delivery";
}

<div class="text-center">
    <h1 class="display-4">Cheapest Delivery</h1>
    <br>
    <br>
     
    <a asp-area="" asp-controller="Home" asp-action="Confirmation" class="btn btn-warning">Confirm Order</a>
</div>