@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome</h3>
    <br>
    <br>
    <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-warning" role="button">Log In</a>
    <br>
    <br>
    <a asp-area="" asp-controller="Home" asp-action="Create" class="btn btn-warning" role="button">Create Profile</a>
</div>
