@{
    ViewData["Title"] = "Pizza Selection";
}

<div class="text-center">
    <h1 style="color:white;" class="display-4">Select Your Pizza</h1>
    <br>
    <br>
    <h3 style="color:white;" >12" Cheese Pizza</h3>
    <img src="~/img/ChPizza.jpg" class="rounded" height="100">
    <br>
    <br>
    <a asp-area="" asp-controller="Home" asp-action="Cart" class="btn btn-warning">Select</a>
    <br>
    <br>
    <h3 style="color:white;" >12" Pepperoni Pizza</h3>
    <img src="~/img/PepPizza.jpg" class="rounded" height="100">
    <br>
    <br>
    <a asp-area="" asp-controller="Home" asp-action="Cart" class="btn btn-warning">Select</a>
    <br>
    <br>
    <h3 style="color:white;" >12" Hawaiian Pizza</h3>
    <img src="~/img/HWPizza.jpg" class="rounded" height="100">
    <br>
    <br>
    <a asp-area="" asp-controller="Home" asp-action="Cart" class="btn btn-warning">Select</a>
    <br>
    <br>
    <h3 style="color:white;" >12" Veggie Pizza</h3>
    <img src="~/img/VegPizza.jpg" class="rounded" height="100">
    <br>
    <br>
    <a asp-area="" asp-controller="Home" asp-action="Cart" class="btn btn-warning">Select</a>
</div>