@{
    ViewData["Title"] = "Pizza Selection";
}

<div class="text-center">
    <h1 class="display-4">Select Your Pizza</h1>
    <br>
    <br>
    <h3>12" Cheese Pizza</h3>
    <img src="~/img/ChPizza.jpg" class="rounded" height="100">
    <br>
    <br>
    <a asp-area="" asp-controller="Home" asp-action="Cart" class="btn btn-warning">Select</a>
</div>