body, html {
    height: 100%;}
  
.bg {
    /* The image used */
    background-image: url("../img/pizza_bg.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: black;
    text-align: center;
    border-style: solid;
    border-color: red;
    background-color: red
}

h5 {
    color: black;
    text-align: center;
    border-style: solid;
    border-color: yellow;
    background-color: yellow;
}